<launch>
  <arg name="ekf"                                     default="false"/>
  <arg name="use_perception"                         default="false"/>
  <arg name="fcu_url"/>
  <arg name="refresh_rate"                            default="20"/>
  <arg name="should_auto_arm"/>
  <arg name="should_auto_offboard"/>
  <arg name="distance_completion_threshold"           default="0.30"/>
  <arg name="velocity_completion_threshold"           default="0.10"/>
  <arg name="default_height"                          default="2.0"/>
  <arg name="launch_rviz"/> 
  
  <arg name="interaction_show_prints"                 default="true"/>
  <arg name="interaction_max_vel"                     default="0.30"/>
  <arg name="interaction_max_acc"                     default="0.23"/>
  <arg name="travel_max_angle"                          default="70"/>
  

  <node name="fluid" pkg="fluid" type="fluid" output="screen"> 
    <param name="refresh_rate"                        value="$(arg refresh_rate)"/>
    <param name="should_auto_arm"                     value="$(arg should_auto_arm)"/>
    <param name="should_auto_offboard"                value="$(arg should_auto_offboard)"/>
    <param name="distance_completion_threshold"       value="$(arg distance_completion_threshold)"/>
    <param name="velocity_completion_threshold"       value="$(arg velocity_completion_threshold)"/>
    <param name="default_height"                      value="$(arg default_height)"/>
    <param name="ekf"                                 value="$(arg ekf)"/>
    <param name="use_perception"                      value="$(arg use_perception)"/>
    
    <param name="interaction_show_prints"             value="$(arg interaction_show_prints)"/>

    <param name="interaction_max_vel"                 value="$(arg interaction_max_vel)"/>
    <param name="interaction_max_acc"                 value="$(arg interaction_max_acc)"/>

    <param name="travel_max_angle"                 value="$(arg travel_max_angle)"/>

  </node>

  <node if="$(arg launch_rviz)" type="rviz" name="rviz" pkg="rviz" args="-d $(find fluid)/rviz_configs/fluid.rviz" />

</launch>
