<launch>
  <arg name="fcu_url" default="udp://localhost:14540@localhost:14557"/>
  <arg name="refresh_rate" default="20" />


  <node name="server" pkg="fluid_fsm" type="main" output="screen" args="$(arg refresh_rate)"/>

  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="$(arg fcu_url)"/>
  </include>
</launch>