<launch>
    <!-- Derived parameters -->
    <arg name="offboard_api_port" default="14540"/> <!-- port which mavros listens to px4 on -->
    <arg name="fcu_api_port" default="14550"/> <!-- port which px4 listens to mavros on -->
    <arg name="launch_rviz" default="true"/>
    <arg name="launch_reconfigure" default="false"/>

    <include file="$(find control_obstacle_avoidance)/launch/main.launch" />

    <include file="$(find fluid)/launch/server_base.launch">
        <arg name="fcu_url" value="udp://localhost:$(arg offboard_api_port)@localhost:$(arg fcu_api_port)"/>
        <arg name="auto_arm" value="true"/>
        <arg name="auto_offboard" value="true"/>
        <arg name="launch_reconfigure" value="$(arg launch_reconfigure)"/>
    </include>

    <node name="world_to_world_ned" pkg="tf" type="static_transform_publisher" args="0 0 0 1 0 0 0 world world_ned 10"/>

   <node if="$(arg launch_rviz)" type="rviz" name="rviz" pkg="rviz" args="-d $(find fluid)/rviz_configs/fluid.rviz" />

</launch>
