<launch>
  <arg name="fcu_url"/>
  <arg name="px4_id"/>
  <arg name="refresh_rate" default="20" />
  <arg name="message_queue_size" default="100" />
  <arg name="auto_arm" default="false"/>
  <arg name="auto_set_offboard" default="false"/>
  <arg name="setpoint_subscription_topic" default="fluid_fsm/setpoint"/>
  <arg name="setpoint_publish_topic" default="mavros/setpoint_raw/local"/>

  <rosparam command="load" file="$(find fluid_fsm)/params.yaml" />

  <node name="server" pkg="fluid_fsm" type="main" output="screen" args="$(arg refresh_rate) $(arg message_queue_size) 
      $(arg auto_arm) $(arg auto_set_offboard)"/>
  <node name="setpoint_publisher" pkg="fluid_fsm" type="setpoint_publisher" output="screen" args="$(arg refresh_rate) $(arg setpoint_subscription_topic) $(arg setpoint_publish_topic)"/>

  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="$(arg fcu_url)"/>
    <arg name="log_output" value="log"/>
    <arg name="tgt_system" value="$(eval 1 + arg('px4_id'))"/>
    <arg name="tgt_component" value="1"/>
  </include>
</launch>
