<launch>
  <arg name="fcu_url" default="udp://localhost:14540@localhost:14557"/>
  <arg name="refresh_rate" default="20" />
  <arg name="message_queue_size" default="1000" />
  <arg name="auto_arm" default="true" />

  <rosparam command="load" file="$(find fluid_fsm)/params.yaml" />

  <node name="server" pkg="fluid_fsm" type="main" output="screen" args="$(arg refresh_rate) $(arg message_queue_size) $(arg auto_arm)"/>

  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="$(arg fcu_url)"/>
    <arg name="log_output" value="log"/>
  </include>
</launch>