<launch>
  <arg name="nodename"/>
  <arg name="px4_addr"/>

  <group ns="$(arg nodename)">
    <node name="fluid_fsm_main" pkg="fluid_fsm" type="main" output="screen"/>
    <include file="$(find mavros)/launch/px4.launch">
      <arg name="fcu_url" value="udp://$(env ROS_IP):14540@$(arg px4_addr):14557"/>
    </include>
    <node name="fluid_fsm_test_client" pkg="fluid_fsm" type="test_client" output="screen"/>
  </group>
</launch>